.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
  display: flex;
}

.messageBottom{
  font-size: 12px;
  margin-top: 10px;
}

.messageText{
  padding: 10px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
}

.message.own{
  align-items: flex-end;
}

.message.own .messageText{
  background-color: rgb(245, 241, 241);
  color: black;
}
