.talk {
  margin-top: 90px;
  height: calc(100vh - 150px);
  display: flex;
}

.talkMenu {
  flex: 3.5;
}

.talkBox {
  flex: 5.5;
}

.talkBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.talkBoxTop {
  height: 70vh;
  overflow-y: scroll;
}

.talkBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talkMessageInput{
  width: 88%;
  height: 90px;
}

.talkOnline {
  flex: 3.0;
}

.talkMenuWrapper, .talkBoxWrapper, .talkOnlineWrapper{
  padding: 10px;
}
